h1 {
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}

body {
    text-align: center;
}

table {
    height: auto;
    margin: auto;
    width: auto;
}

.dark-cell {
    background-color: rgb(94, 8, 8);
    height: 100px;
    width: 100px;
}

.light-cell {
    background-color: rgb(226, 71, 71);
    height: 100px;
    width: 100px;
}

.selected {
    background-color: aquamarine;
}